.button {
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  margin-right: 1rem;
  display: inline-flex;
  color: gray;
  align-items: center;
  width: 150px;
  justify-content: center;
  background-color: transparent;

  > i {
    font-style: 24px;
  }
}
